<form action="/post/createPost" method="Post" id="new_post_form">

    <label for="posts">Create a post</label>
    <textarea name="posts" id="textArea" cols="30" rows="3" placeholder="type here..." required>
    
    </textarea>
    <input type="submit" value="Post">
    
</form>