<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/Css/layout.css">
    <title>jibby Lab's</title>
    <%-style%>
</head>
<body>
    <h1>Jibby Lab's</h1>

    <%-body%>
    
    <%-script%>
</body>
</html>