<%-include('_createPost')-%>

<H1>Posts</H1>
<div id="posts">


<li id="listOfPosts">
    <% for(post of result){%>
    <%-include('_posts.ejs')-%>
    <div id="commentsDiv">
        <% for(comment of post.comments){%>
            <li id="comment_<%=comment._id%>">
                <%-include('_comments.ejs')-%>
            </li>
        <% } }%>
    </div>
     
</li>



</div>

<script src="Js/posts.js"></script>
<script src="Js/comments.js"></script>