<H1>Posts</H1>
<div id="posts">
<% for(post of result){%>

<li>
    <%-include('_posts.ejs')-%>
    
     <% for(comment of post.comments){%>
      
      <%-include('_comments.ejs')-%>
      
      <% } %>
</li>


<%}%>
</div>
