#container-div{
    display: flex;
    #posts{
        width: 70%;
        background-color: midnightblue;
        padding: 10px;
    }
    #friends{
        width: 30%;
        padding: 10px;
        border-left: 2px solid white;
        height: 100%;
    }
}