$heading-color:green;
$heading-font:monospace;

body{
    height: 100%;
    color: green;
    background-color: whitesmoke;
    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $heading-color;
        font-family: $heading-font;

        .cardHeading{
            color: whitesmoke;
                        text-decoration: none;
        }
        
        div{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 20%;

            .dropdown {
                z-index: 1;
                position: absolute;
                top: 6%;
                display: block;
                height: fit-content;
                background-color: rgba(0, 0, 0, 0.5);
                ul{
                    list-style: none;
                    li{
                        border-bottom: 1px solid whitesmoke;
                       a{
                    display: inline-block;
                    color: whitesmoke;
                    text-decoration: none;
                    width: 100%;
                    font-size: 1.2rem;
                } 
                
                    }
                    li:hover > a{
                        color: orange;
                        transform: scale(1.2);
                    } 
                }
                
            }
           
            button:hover{
                transform: scale(1.2);
                background-color: skyblue;
                border-radius: 70px;
            }

             button
                {
                    outline: none;
                    background: inherit;
                    width: 40%;
                    border: none;
                    a{
                        display: inline-block;
                        color: whitesmoke;
                        text-decoration: none;
                        width: 100%;
                    }
                    
                }
           
        }
        #profile_div{
            justify-content: normal;
            img{
                z-index: 2;
                width: 50px;
                border-radius: 30px;
            }
            
        }
    }
}