$inputText:rgba(0, 0, 0, 0.664);
#editForm_div{
#profile_pic{
    position: relative;
    left: 50%;
}
form{
    #profile_pic_input{
        position: absolute;
        top: 27%;
        left: 50%;
    }
    .nameLabel{
        position: absolute;
        color: green;
        top: 34%;
        left: 40%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    #name{
        position: absolute;
        top: 34%;
        left: 50%;
        font-size: 1.5rem;
        font-family: sans-serif;
        color: $inputText;
        background-color: lightgray;
        border-radius: 30px;
        border: none;
        padding-left: 1%;
    }
    .emailLabel{
        position: absolute;
        color: green;
        top: 40%;
        left: 40%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    #email{
        position: absolute;
        top: 40%;
        left: 50%;
        font-size: 1.5rem;
        font-family: sans-serif;
        color: $inputText;
        background-color: lightgray;
        border-radius: 30px;
        border: none;
        padding-left: 1%;
    }
    .passwordLabel{
        position: absolute;
        color: green;
        top: 46%;
        left: 35.5%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    #password{
        position: absolute;
        top: 46%;
        left: 50%;
        font-size: 1.5rem;
        font-family: sans-serif;
        color: $inputText;
        background-color: lightgray;
        border-radius: 30px;
        border: none;
        padding-left: 1%;
    }
    .CpasswordLabel{
        position: absolute;
        color: green;
        top: 52%;
        left: 26%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    #confirmPassword{
        position: absolute;
        top: 52%;
        left: 50%;
        font-size: 1.5rem;
        font-family: sans-serif;
        color: $inputText;
        background-color: lightgray;
        border-radius: 30px;
        border: none;
        padding-left: 1%;
    }
    .ageLabel{
        position: absolute;
        color: green;
        top: 58%;
        left: 40%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    #age{
        position: absolute;
        top: 58%;
        left: 50%;
        font-size: 1.5rem;
        font-family: sans-serif;
        color: $inputText;
        background-color: lightgray;
        border-radius: 30px;
        border: none;
        padding-left: 1%;
    }

    .submitInput{
        position: absolute;
        top: 66%;
        left: 50%;
        background-color: green;
        font-size: larger;
        border-radius: 30px;
        border: none;
        color: $inputText;
    }
    .submitInput:hover{
        transform: scale(1.2);
    }
}
#friends_username{
    text-align: center;
    color: skyblue;
    font-family: sans-serif;
}
#friends_email{
    text-align: center;
    color: skyblue;
    font-family: sans-serif;
}
}