:root {
  --text-color: rgba(0, 0, 0, 0.7);
}

body {
  color: white;
}

body .signUpForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
  position: absolute;
  right: 1rem;
  align-items: center;
  background-color: orange;
  padding: 1rem;
  border-radius: 4rem 0 4rem;
}

body .signUpForm .formChildren {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
}

body .signUpForm .formChildren > label {
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

body .signUpForm input {
  outline: none;
  border: none;
  background-color: rgba(232, 223, 223, 0.7);
  flex-grow: 1;
  border-radius: 1rem;
  padding-left: 1rem;
}

body .signUpForm .submitInput {
  color: whitesmoke;
  background-color: skyblue;
  padding: 0;
  width: fit-content;
  padding: 1rem;
  font-size: larger;
}
